# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Flavia\Google Drive\ACS\Anul-4\Semestrul-1\BD2\Proiect\BD2-Project\gragebook\backend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
